.Form{
    margin: 80px auto;
    box-sizing: border-box;
    border: 2px solid red;
    width: 1140px;
    overflow:auto;
    /* font-family: 'Poppins', sans-serif; */
}

.Form > div{
    float: left;
}

.Header{
    margin:30px;
}

.Header input{
    margin-top: 20px;
}

.Header textarea{
    margin-top: 20px;
}
.formDetail{
 
    margin: 60px 0px 0px 300px;
   
}

.formDetail Typography{
    border: 2px solid black;
}

.Form button{
    margin: 55px;
}