.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:1em;
    margin: 1 em;
}

.product-card{
    border: 1px solid gray; 
    width: 300px;
    height: 320px;
    text-align: center;
    box-shadow: 2px 10px 10px gray;
    border-radius: 10px
}
